:root {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16pt;

	--webc-color: #44f;
	--webc-text: " - this is external text";
}

slotted-component {
	--webc-text: " inside slotted component";
}